__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
my_env

logs/
airflow.db
unittests.cfg

*.log
*.pid
*.sock
*.tmp
*.swp

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml
